package ${basePackageName}.rest;

import ${jakartaEEBasePackageName}.ws.rs.ApplicationPath;
import ${jakartaEEBasePackageName}.ws.rs.core.Application;

@ApplicationPath("/api")
public class RestApplication extends Application {

}